.home{
    height: 65vh;
    text-align: center;
    >.nombre {
        margin-top: 35vh;
        

        >h1 {
            font-size: 20px;
            color: white;
        }

        >h2 {
            font-size: 16px;
            color: #3491FF;
        }
    }
    >.presentacion{
        margin-top: 10vh;
        text-align: center;
        color: white;
    }
    >.links{
        margin-top: 5vh;
        a{
            margin:40px;
            font-size: 30px;
        }
    }
}