* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

a,
i {
    text-decoration: none;
    color: white;

    &visited {
        color: white;
    }

}
body{
    background-image: url("./assets/background.png");
   background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

